<div class="row mt-4">
    <div class="col-md-12 text-center" *ngIf="retrogamer.item.length > 0">
        <button mat-raised-button color="primary" [routerLink]="['/carrito']"><i class="fa fa-cart-plus fa-5x"></i></button>
        <div>
            Tiene <strong class="text-success">{{retrogamer?.item.length}}</strong> Items por el precio total de
            <strong class="text-success">
                S/{{retrogamer?.precioTotal}}
            </strong>
        </div>
    </div>
</div>
<h1 class="text-center mt-4"><strong>{{producto?.nombre}}</strong></h1>
<div class="row">
    <div class="col-md-8">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div>
    <div class="col-md-4">
        <h3><strong>Marca: </strong>{{producto?.marca}} / {{producto?.modelo}}</h3>
        <pre>{{producto?.descripcion}}</pre>
        <h1><strong>Precio: </strong>S/{{producto?.precio_Venta}}</h1>
        <button class="btn btn-secondary" *ngIf="auth.decodedToken?.nameid" [disabled]="!habilitado" (click)="agregarCarrito(producto)"><i class="fa fa-cart-plus"></i> Añadir al Carrito</button>
        <button class="btn btn-secondary" disabled *ngIf="!auth.decodedToken?.nameid"><i class="fa fa-user" ></i> Inicia Sesion para poder Comprar</button>
    </div>

</div>
<hr>
<div class="row mt-2">
    <div class="col-md-6">
        <h3>Tenemos <strong>mas {{categoria?.descripcion}}</strong></h3>
    </div>
    <div class="col-md-6">
        otros Productos
        <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected *ngFor="let categoria of categorias" (click)="obtenerCategoria(categoria.id)">{{categoria.descripcion}}</mat-chip>
        </mat-chip-list>

    </div>
</div>

<div class="container marketing mt-3">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4" *ngFor="let producto of productos">
            <img [src]="producto.urlPrincipal" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="producto1">
            <h2>{{producto?.nombre}}</h2>
            <h3>Marca: {{producto?.marca}}</h3>
            <h1>Precio: S/{{producto?.precio_Venta}}</h1>
            <p><a class="btn btn-secondary" role="button" (click)="obtenerProductoSeleccionado(producto)">Ver Detalles &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <!-- <div class="col-lg-4">
                    <img src="../../assets/img/accessory-buttons-console-control-275033.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="producto1">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div> -->
        <!-- /.col-lg-4 -->
        <!-- <div class="col-lg-4">
                    <img src="../../assets/img/accessory-buttons-console-control-275033.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="producto1">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div> -->
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>