<h1 class="text-center mt-5 titulo">Lista de Productos</h1>

<mat-form-field class="mt-3">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" autocomplete="off">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 mt-2">

    <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="serie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> serie </th>
        <td mat-cell *matCellDef="let element" class="alert" [ngClass]="{'alert-danger': !element.estado}"> {{element.serie | uppercase}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> marca </th>
        <td mat-cell *matCellDef="let element" class="alert" [ngClass]="{'alert-danger': !element.estado}"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
        <td mat-cell *matCellDef="let element" class="alert" [ngClass]="{'alert-danger': !element.estado}"> {{element.cantidad}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha_Registro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fecha_Registro </th>
        <td mat-cell *matCellDef="let element" class="alert" [ngClass]="{'alert-danger': !element.estado}"> {{element.fecha_Registro | date: 'dd/MM/yy'}} </td>
    </ng-container>

    <ng-container matColumnDef="precio_Compra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Compra </th>
        <td mat-cell *matCellDef="let element" class="alert" [ngClass]="{'alert-danger': !element.estado}"> {{element.precio_Compra | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="precio_Venta">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Venta </th>
        <td mat-cell *matCellDef="let element" class="alert" [ngClass]="{'alert-danger': !element.estado}"> {{element.precio_Venta | currency}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef><button mat-raised-button [routerLink]="['/addProduct' ]"><mat-icon>add</mat-icon></button></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon [routerLink]="['/editProd' , element.id]">more_vert</mat-icon>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>